body {
  background-color: #f1e9d9;
  box-sizing: border-box;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

h1 {
  color: #fff;
}

.navBar-container {
  background-color: #c2a38f;
  max-height: 100%;
  padding: 3%;
}

.calendar-container {
  display:contents;
  justify-content: center;

}

.main {
margin: 3%;
width: 100%;
}
.view-button {
  display: flex;
  justify-content: flex-start;
  margin: 4%;
}

.view-button button {
  margin: 0 20px;
  background-color: #fff;
  border: none;
  border-radius: 20px;
  color: #744827;
  cursor: pointer;
  font-size: 14px;
  padding: 10px;
  width: 10%;
}

.view-button :hover {
  background-color: #c2a38f;
}
