body {
  background-color: #f1e9d9;
  box-sizing: border-box;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.navBar-container {
  background-color: #c2a38f;
  max-height: 100%;
  padding: 3%;
}

.calendar-container {
  display:contents;
  justify-content: center;

}

.main {
margin: 3%;
width: 100%;
}

:root {
  --fc-border-color:  #744827;
  --fc-daygrid-event-dot-width: 5px;
  color:  #744827;
}

.fc .fc-col-header-cell {
  background-color: #74482742;
}
.fc .fc-col-header-cell-cushion {

  display: inline-block;
  padding: 2px 4px;
}
