/* Calendar.css */

.calendar {
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 3px;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #f0f0f0;
}

.header button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
}

.calendar-table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

.calendar-table th {
  border-bottom: 1px solid #ccc;
  padding: 5px;
  text-align: center;
  font-weight: bold;
}

.calendar-table td {
  border: 1px solid #ccc;
  padding: 5px;
  text-align: center;
}

.calendar-table td.selected {
  background-color: #f0f0f0;
}

.week {
  height: 80px;
}

.empty {
  background-color: #f8f8f8;
}
