@import url("https://fonts.googleapis.com/css2?family=Kalam");

.calendar {
  width: 100%;
  border: 1px solid #744827;
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
  font-family: "Josefin Sans", sans-serif;
  color: #744827;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #744827;
  color: #fff;
  font-size: 26px;
}

.header button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  color: #fff;
}

.calendar-table {
  display: table;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

.calendar-table th {
  padding: 5px;
  text-align: center;
  font-weight: bold;
}

.calendar-table td {
  border: 1px solid #ccc;
  padding: 5px;
  text-align: center;
  position: relative;
}

.calendar-table td.selected {
  background-color: #f0f0f0;
}

.week {
  height: 80px;
}

.empty {
  background-color: #f8f8f8;
}

.date-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
}

.date {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0px;
  margin-right: 0px;
  font-size: 10px;
}

.date-label {
  font-size: 10px;
  color: gray;
}

.holiday-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #ffd1ce;
  cursor: pointer;
  border-radius: 8px;
  position: relative;
  font-family: "Kalam", cursive;
}

.holiday-tooltip {
  position: relative;
}

.tooltip-content {
  visibility: hidden;
  width: 120px;
  background-color: #3e2718;
  color: #ffffff;
  text-align: center;
  border-radius: 8px;
  padding: 10px;
  position: absolute;
  z-index: 100;
  left: 50%;
  transform: translate(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  white-space: normal;
  max-height: none;
  overflow-y: visible;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.holiday-name:hover + .tooltip-content {
  visibility: visible;
  opacity: 1;
}
